/*****GENERAL STYLING****/

body{
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  cursor: none;
}
.thiccDiv{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:hidden;
  transform-style: preserve-3d;
  perspective: 800px
}

#aesthetic{
  position: absolute;
  z-index: 10000;
  font-size: 30px;
  color: white;
  font-family: 'VT323', monospace;
  background-color: black;
  padding: 15px 20px;
  user-select: none;
}

/*******SKY STYLING*******/

.retroSky{
  height:100%;
  width: 100%;
  background: linear-gradient(#10001f 15%, rgb(255, 60, 0) 80%, rgb(218, 103, 26) 60%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sun{
  height: 500px;
  width:500px;
  position: absolute;
  margin-bottom: 15%;
  background-color: rgb(231, 41, 7);
  transform: translatey(-200px);
  border-radius: 100%;
  box-shadow: 0px 0px 150px darkorange, inset -10px -10px 160px yellow, inset 20px 20px 170px white;
  animation: sunglow 4s ease-out infinite alternate;
  will-change: box-shadow;
}

/*******GENERAL GROUND STYLING******/
.ground{
  height: 1000%;
  width: 50%;
  background: linear-gradient(#0e1247, #10001f 95%);
  transform-style: preserve-3d;
  transform: rotateX(79deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid{
  height: 100%;
  width: 30%;
  position: absolute;
  transform-style: preserve-3d;
  will-change: transform;
  animation: aboveGrid 60s linear infinite;
}

/*****ABOVE GRID STYLING******/
/*****VERTICAL LINE GRID STYLING*****/
.vertical{
  transform: translateZ(50px);
  position: absolute;
  height: 100%;
  width: 100%
}
.verticalLine{
  height: 100%;
  width: 6px;
  background-color: rgb(190, 0, 127);
  will-change: transform;
  position: absolute;
  opacity: 0.5;
}

.vl1{
  margin-left: 0%;
}

.vl2{
  margin-left: 20%;
}

.vl3{
  margin-left: 40%;
}

.vl4{
  margin-left: 60%;
}

.vl5{
  margin-left: 80%;
}

.vl6{
  margin-left: 100%;
}

/*****HORIZONTAL LINE GRID STYLING****/




.horizontal{
  height: 100%;
  width: 100%;
  transform: translateZ(50px);
}

.horizontalLine{
  height: 6px;
  width: 100%;
  background-color: rgb(190, 0, 127);
  will-change: transform;
  margin-top: 50%;
  opacity: 0.5;
}




/******UNDERGRIDSTYLING*****/

.underGrid{
  height: 100%;
  width: 38%;
  position: absolute;
  transform-style: preserve-3d;
  will-change: transform;
  animation: underGrid 60s linear infinite;

}

.underHorizontal{
  height: 100%;
  width: 100%;
  transform: translateZ(20px);
}

.underVertical{
  height: 100%;
  width: 100%;
  transform: translateZ(20px);
}

.underHorizontalLine{
  height: 4px;
  width: 100%;
  background-color: rgb(255, 27, 179);
  will-change: transform;
  margin-top: -66%;
}

.underVerticalLine{
  height: 100%;
  width: 4px;
  background-color: rgb(255, 27, 179);
  will-change: transform;
  position: absolute;
}

/*****ANIMATION*****/
@keyframes underGrid{
  0%{ transform:translatey(0%)}
  100%{ transform:translatey(50%)}
}

@keyframes aboveGrid{
  0%{ transform:translatey(0%)}
  100%{ transform:translatey(50%)}
}

/**OVERALL STYLE**/

body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.background{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 800px;
  position: absolute;
}
.container{
  height: 667px;
  width: 375px;
  border: solid 1px #555555;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  border: solid 2px  #00ff00;
  box-shadow: 0 0 8px #00ff00, inset 0 0 8px #00ff00;
  -webkit-animation: pulse 2s linear 1s infinite;
  background-color: #00ff00;
  text-align: center
}


/**PHONE STYLE**/
#phone{
  transform-style: preserve-3d;
  transform: rotatex(0deg) rotateY(0deg) rotate(0deg) translateZ(-350px);
  display: flex;
  align-items: center;
  will-change: transform;
  z-index: 1000;
  position:absolute;
  will-change: transform;
}

#phone .front{
  height: 800px;
  width: 410px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: solid 2px #00ff00;
  transform-style: preserve-3d;
  z-index: 5;
  box-shadow: 0 0 8px #00ff00, inset 0 0 8px #00ff00;
  animation: pulse 2s linear 1s infinite;
  will-change: transform;
}

.speaker{
  width: 100px;
  height: 15px;
  background-color: #00ff00;
  position: absolute;
  border-radius: 5px;
  margin-top: -375px;
  will-change: transform;


}

.homeButton{
  height: 70px;
  width: 70px;
  border-radius: 100%;
  border: solid 2px  #00ff00;
  position: absolute;
  margin-top: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px #00ff00, inset 0 0 8px #00ff00;
  -webkit-animation: pulse 2s linear 1s infinite;
  will-change: transform;

}

.square{
  height: 35px;
  width: 35px;
  border-radius: 3px;
  border: solid #00ff00 2px;
  will-change: transform;


}

#phone .back{
  height: 800px;
  width: 410px;
  border-radius: 25px;
  border: solid 2px  #00ff00;
  transform: translateZ(-34px);
  position: absolute;
  z-index: 3;
  box-shadow: 0 0 8px #00ff00, inset 0 0 8px #00ff00;
  animation: pulse 2s linear 1s infinite;
  will-change: transform;
}


#phone .rightSide{
  width: 34px;
  height: 750px;
  position: absolute;
  border: solid 2px  #00ff00;
  transform: translatex(-18px) translateZ(-17px) rotateY(90deg);
  box-shadow: 0 0 8px #00ff00, inset 0 0 8px #00ff00;
  -webkit-animation: pulse 2s linear 1s infinite;
  will-change: transform;


}
#phone .leftSide{
  width: 34px;
  height: 750px;
  position: absolute;
  border: solid 2px  #00ff00;
  transform: translatex(395px) translateZ(-18px) rotateY(90deg);
  box-shadow: 0 0 8px #00ff00, inset 0 0 8px #00ff00;
  -webkit-animation: pulse 2s linear 1s infinite;
  will-change: transform;


}

#phone .topSide{
  width: 34px;
  height: 370px;
  position: absolute;
  border: solid 2px  #00ff00;
  transform: rotate(90deg) rotateY(90deg) translatey(-187px) translatex(17px) translatez(-400px);
  box-shadow: 0 0 8px #00ff00, inset 0 0 8px #00ff00;
  -webkit-animation: pulse 2s linear 1s infinite;
  will-change: transform;

}

#phone .bottomSide{
  width: 34px;
  height: 370px;
  position: absolute;
  border: solid 2px  #00ff00;
  transform: rotate(90deg) rotateY(90deg) translatey(-180px) translatex(17px) translatez(400px);
  box-shadow: 0 0 8px #00ff00, inset 0 0 8px #00ff00;
  -webkit-animation: pulse 2s linear 1s infinite;
  will-change: transform;


}


.corner{
  width: 34px;
  height: 47px;
  border: solid 2px  #00ff00;
  box-shadow: 0 0 8px #00ff00, inset 0 0 8px #00ff00;
  -webkit-animation: pulse 2s linear 1s infinite;
  position: absolute;
  -webkit-animation: pulse 2s linear 1s infinite;
  will-change: transform;

}

.rightTop{
  transform: translatey(-386px) translatex(380px) translatez(-17px) rotate(135deg) rotateY(90deg);
  will-change: transform;

}

.leftTop{
  transform: translatey(-386px) translatex(0px) translatez(-17px) rotate(45deg) rotateY(90deg);
  will-change: transform;

}

.leftBottom{
  transform: translatey(386px) translatex(0px) translatez(-17px) rotate(-45deg) rotateY(90deg);
  will-change: transform;

}

.rightBottom{
  transform: translatey(386px) translatex(380px) translatez(-17px) rotate(-135deg) rotateY(90deg)
  will-change: transform;

}
/**BLOCKS STYLE**/

.margin{
  height: 655px;
  width: 42px;
  border: solid 2px  #00ff00;
  box-shadow: 0 0 8px #00ff00, inset 0 0 8px #00ff00
  margin: -12px;
  will-change: transform;

}

.main{
  width: 265px;
  height: 655px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 2px  #00ff00;
  box-shadow: 0 0 8px #00ff00, inset 0 0 8px #00ff00;
  will-change: transform;

}

.system{
  height: 92px;
  width: 259px;
  border: solid 2px  #00ff00;
  box-shadow: 0 0 8px #00ff00, inset 0 0 8px #00ff00;
  will-change: transform;

}
.timer{
  height: 48px;
  width: 259px;
  border: solid 2px  #00ff00;
  box-shadow: 0 0 8px #00ff00, inset 0 0 8px #00ff00;
  will-change: transform;

}
.codebreaker{
  height: 104px;
  width: 259px;
  border: solid 2px  #00ff00;
  box-shadow: 0 0 8px #00ff00, inset 0 0 8px #00ff00;
  will-change: transform;

}
.GPS{
  height: 114px;
  width: 259px;
  border: solid 2px  #00ff00;
  box-shadow: 0 0 8px #00ff00, inset 0 0 8px #00ff00;
  will-change: transform;

}
.apps{
  height: 241px;
  width: 259px;
  border: solid 2px  #00ff00;
  box-shadow: 0 0 8px #00ff00, inset 0 0 8px #00ff00;
  will-change: transform;
}


.app{
  width: 250px;
  height: 45px;
  border: solid 2px #00ff00;
  z-index: 3000;
  font-family: 'VT323', monospace;
  color: white;
  margin: auto;
  z-index: 1000;
  font-size: 40pt;
}

.app:hover{
  background-color: black;
  transition: background-color 0.2s;
}

.appWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-10px)
}

.bars{
  transform: translateY(-17px)
}
.completedBars{
  height: 15px;
  width: 245px;
  border: solid #00ff00 2px;
  margin-bottom:5px; 
  margin-left: 5px;
  overflow: hidden;
}

.loadingBars{
  height: 15px;
  width: 245px;
  background-color: #00ff00;
}

.bar1{
  animation: barLoading 99s linear infinite;
}
.bar2{
  animation: barLoading 145s linear infinite;
}
.bar3{
  animation: barLoading 60s linear infinite;
}

.text{
 z-index: 3000;
 font-family: 'VT323', monospace;
  color: white;
  margin: auto;
  z-index: 1000;
  font-size: 40pt;
}
}
h1{
  font-family: 'VT323', monospace;
  color: white;
  margin: auto;
  z-index: 1000;
  font-size: 40pt;
}



/**TEXT STYLE**/
.titles{
  color: white;
  font-family: 'VT323', monospace;
  font-size: 20pt;
  margin-left: 10px;
  margin-top: 8px;
  will-change: transform;

}

.margin p{
  transform: rotate(90deg);
  font-size: 40pt;
  color: white;
  white-space: nowrap;
  font-family: 'VT323', monospace;;
  margin-top: 50px;
  will-change: transform;

}

.element p{
  font-size: 30pt;
  color: white;
  font-family: 'VT323', monospace;
  will-change: transform;
  margin-top: 0px;
}

.insideSystem p{
  font-size: 40pt;
  color: white;
  font-family: 'VT323', monospace;
  will-change: transform;
  margin-top: -20px;
}

.latlon{
  font-family: 'Nanum Gothic', sans-serif;
  margin-left: 10px;
}


/****PALMTREES*****/

.palmTreesContainer{
  animation: palmTreesAnimation 8s linear infinite;
  transform-style: preserve-3d
}

/******PALMTREES POSITION******/

.palmTreeOne{
  transform-style: preserve-3d;
  transform:translateZ(0px) scale(1) translatey(-2000px) translatex(265px) rotatex(0deg) rotatey(0deg) rotate(0deg)
}

.palmTreeTwo{
  transform-style: preserve-3d;
  transform:translateZ(0px) scale(1) translatey(-1000px) translatex(-315px) rotatex(0deg) rotatey(0deg) rotate(0deg)
}

.palmTreeThree{
  transform-style: preserve-3d;
  transform:translateZ(0px) scale(1) translatey(0px) translatex(265px) rotatex(0deg) rotatey(0deg) rotate(0deg)
}

.palmTreeFour{
  transform-style: preserve-3d;
  transform:translateZ(0px) scale(1) translatey(1000px) translatex(-315px) rotatex(0deg) rotatey(0deg) rotate(0deg)
}
/*****GENERAL PALMTREE STYLING WAIT WHAT*****/

.palmtree{
  display: flex;
  justify-content: center;
  align-items: center;
}

.palmtreeBasis{
  transform-style: preserve-3d;
  transform:translateZ(0px) scale(1) translatey(0px) rotatex(0deg) rotatey(0deg) rotate(0deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstFloor{
  transform: translateZ(35px)  scale(0.85) translatex(10px);
}
.secondFloor{
  transform: translateZ(70px) scale(0.70) translatex(20px);
}
.palmtreeCulminate{
  transform: translateZ(105px) scale(0.40) translatex(30px);
  perspective: 800 px;
  transform-style: preserve-3d
}

.trunk{
  width: 54px;
  height: 54px;
  box-sizing: content-box;
  position: absolute;
  border: rgb(0, 0, 0) solid 1px;
  border-radius: 100%;
  background-color: rgb(0, 236, 0);
  transform-style: preserve-3d;
}

/****FIRST FLOOR****/

  .lineFirstFloor .lineOne{
    width: 1px;
    height: 35px;
    background-color: rgb(0, 236, 0);
    transform: rotatex(85deg) skew(12deg) translatey(18px) translateZ(44px);
    position: absolute;
  }

  .lineFirstFloor .lineTwo{
    width: 1px;
    height: 35px;
    background-color: rgb(0, 236, 0);
    transform: rotatex(95deg) skew(12deg) translatey(18px) translateZ(-9px);
    position: absolute;
  }

  .lineFirstFloor .lineThree{
    width: 1px;
    height: 35px;
    background-color: rgb(0, 236, 0);
    transform: rotatex(90deg) skew(11deg) translatey(18px) translatex(25px) translateZ(16px) rotateY(90deg);
    position: absolute;
  }

  .lineFirstFloor .lineFour{
    width: 1px;
    height: 35px;
    background-color: rgb(0, 236, 0);
    transform: rotatex(90deg) skew(15deg) translatey(18px) translatex(-25px) translateZ(16px) rotateY(90deg);
    position: absolute;
  }



  /******SECOND FLOOR********/



  .firstFloor{
    display: flex;
    justify-content: center;
    align-items: center;
  }



  .lineSecondFloor .lineOne{
    width: 1px;
    height: 70px;
    background-color: rgb(0, 236, 0);
    transform: rotatex(96deg) skew(11deg) translatey(36px) translateZ(8px) rotate(0deg);
    position: absolute;
  }

  .lineSecondFloor .lineTwo{
    width: 1px;
    height: 70px;
    background-color: rgb(0, 236, 0);
    transform: rotatex(83deg) skew(11deg) translatey(28px) translateZ(62px);
    position: absolute;
  }

  .lineSecondFloor .lineThree{
    width: 1px;
    height: 70px;
    background-color: rgb(0, 236, 0);
    transform: rotatex(90deg) skew(4deg) translatey(35px) translatex(27px) translateZ(34px) rotateY(90deg);
    position: absolute;
  }

  .lineSecondFloor .lineFour{
    width: 1px;
    height: 70px;
    background-color: rgb(0, 236, 0);
    transform: rotatex(90deg) skew(17deg) translatey(35px) translatex(-27px) translateZ(34px) rotateY(90deg);
    position: absolute;
  }




  /**********THIRD FLOOR I LOVE PALMIERS************/


  .secondFloor{
    display: flex;
    justify-content: center;
    align-items: center;
  }



  .lineThirdFloor .lineOne{
    width: 1px;
    height: 107px;
    background-color: rgb(0, 236, 0);
    transform: rotatex(99deg) skew(7deg) translatey(57px) translateZ(25px) rotate(0deg);
    position: absolute;
  }

  .lineThirdFloor .lineTwo{
    width: 1px;
    height: 107px;
    background-color:rgb(0, 236, 0);
    transform: rotatex(80deg) skew(6deg) translatey(39px) translateZ(80px);
    position: absolute;
  }

  .lineThirdFloor .lineThree{
    width: 1px;
    height: 105px;
    background-color: rgb(0, 236, 0);
    transform: rotatex(90deg) skew(-3deg) translatey(53px) translatex(27px) translateZ(53px) rotateY(90deg);
    position: absolute;
  }

  .lineThirdFloor .lineFour{
    width: 1px;
    height: 105px;
    background-color: rgb(0, 236, 0);
    transform: rotatex(90deg) skew(15deg) translatey(53px) translatex(-27px) translateZ(51px) rotateY(90deg);
    position: absolute;
  }


  /****BRANCHES-AND-LEAVES*****/

  
  .centerLine{
    width: 500px;
    height: 100px;
    border-top: solid 5px rgb(0, 236, 0);
    border-radius: 65%/30px 111px 0 0;
    transform: rotate(0deg) rotatex(90deg) rotatey(0deg);
    transform-style: preserve-3d;
  }
  
  span{
    height: 45px;
    width: 25px;
    display: inline-block;
    border: solid 3px rgb(0, 236, 0);
    transform-origin: top left;
  }

  .topLeaf1{transform: rotatex(-80deg) rotatey(0deg) translatey(0px) translatex(0px) translateZ(18px) rotate(45deg) skew(30deg);}
  
  .topLeaf2{transform: rotatex(-80deg) rotatey(0deg) translatey(0px) translatex(0px) translateZ(7px) rotate(45deg) skew(30deg);}
  
  .topLeaf3{transform: rotatex(-80deg) rotatey(0deg) translatey(0px) translatex(0px) translateZ(4px) rotate(45deg) skew(30deg);}
  
  .topLeaf4{transform: rotatex(-80deg) rotatey(0deg) translatey(0px) translatex(0px) translateZ(0px) rotate(45deg) skew(30deg);}
  
  .topLeaf5{transform: rotatex(-80deg) rotatey(0deg) translatey(0px) translatex(0px) translateZ(0px) rotate(45deg) skew(30deg);}
  
  .topLeaf6{transform: rotatex(-80deg) rotatey(0deg) translatey(0px) translatex(0px) translateZ(0px) rotate(45deg) skew(30deg);}
  
  .topLeaf7{transform: rotatex(-80deg) rotatey(0deg) translatey(0px) translatex(0px) translateZ(0px) rotate(45deg) skew(30deg);}
  
  .topLeaf8{transform: rotatex(-80deg) rotatey(0deg) translatey(0px) translatex(0px) translateZ(0px) rotate(45deg) skew(30deg);}
  
  .topLeaf9{transform: rotatex(-80deg) rotatey(0deg) translatey(0px) translatex(0px) translateZ(0px) rotate(45deg) skew(30deg);}
  
  .topLeaf10{transform: rotatex(-80deg) rotatey(0deg) translatey(0px) translatex(0px) translateZ(0px) rotate(45deg) skew(30deg);}
  
  .topLeaf11{transform: rotatex(-80deg) rotatey(0deg) translatey(0px) translatex(0px) translateZ(4px) rotate(45deg) skew(30deg);}
  
  .topLeaf12{transform: rotatex(-80deg) rotatey(0deg) translatey(0px) translatex(0px) translateZ(10px) rotate(45deg) skew(30deg);}
  
  .topLeaf13{transform: rotatex(-80deg) rotatey(0deg) translatey(0px) translatex(0px) translateZ(20px) rotate(45deg) skew(30deg);}
  
  .topLeaf14{transform: rotatex(-80deg) rotatey(0deg) translatey(0px) translatex(0px) translateZ(33px) rotate(45deg) skew(30deg);}
  
  
  .bottomLeafs{
    position: absolute
  }
  
  .topLeafs{
    position: absolute
  }
  
  
  
  .bottomLeaf1{transform: rotatex(-273deg) rotatey(0deg) translatey(0px) translatex(0px) translateZ(-18px) rotate(45deg) skew(30deg);}
  
  .bottomLeaf2{transform: rotatex(-273deg) rotatey(0deg) translatey(0px) translatex(0px) translateZ(-7px) rotate(45deg) skew(30deg);}
  
  .bottomLeaf3{transform: rotatex(-273deg) rotatey(0deg) translatey(0px) translatex(0px) translateZ(-4px) rotate(45deg) skew(30deg);}
  
  .bottomLeaf4{transform: rotatex(-273deg) rotatey(0deg) translatey(0px) translatex(0px) translateZ(0px) rotate(45deg) skew(30deg);}
  
  .bottomLeaf5{transform: rotatex(-273deg) rotatey(0deg) translatey(0px) translatex(0px) translateZ(0px) rotate(45deg) skew(30deg);}
  
  .bottomLeaf6{transform: rotatex(-273deg) rotatey(0deg) translatey(0px) translatex(0px) translateZ(0px) rotate(45deg) skew(30deg);}
  
  .bottomLeaf7{transform: rotatex(-273deg) rotatey(0deg) translatey(0px) translatex(0px) translateZ(0px) rotate(45deg) skew(30deg);}
  
  .bottomLeaf8{transform: rotatex(-273deg) rotatey(0deg) translatey(0px) translatex(0px) translateZ(0px) rotate(45deg) skew(30deg);}
  
  .bottomLeaf9{transform: rotatex(-273deg) rotatey(0deg) translatey(0px) translatex(0px) translateZ(0px) rotate(45deg) skew(30deg);}
  
  .bottomLeaf10{transform: rotatex(-273deg) rotatey(0deg) translatey(0px) translatex(0px) translateZ(0px) rotate(45deg) skew(30deg);}
  
  .bottomLeaf11{transform: rotatex(-273deg) rotatey(0deg) translatey(0px) translatex(0px) translateZ(-4px) rotate(45deg) skew(30deg);}
  
  .bottomLeaf12{transform: rotatex(-273deg) rotatey(0deg) translatey(0px) translatex(0px) translateZ(-10px) rotate(45deg) skew(30deg);}
  
  .bottomLeaf13{transform: rotatex(-273deg) rotatey(0deg) translatey(0px) translatex(0px) translateZ(-20px) rotate(45deg) skew(30deg);}
  
  .bottomLeaf14{transform: rotatex(-273deg) rotatey(0deg) translatey(0px) translatex(0px) translateZ(-33px) rotate(45deg) skew(30deg);}
  

  .branch1{
    position: absolute;
    transform: scale(1) rotateX(180deg) rotatey(0deg) translatex(35px) translatey(35px) translatez(30px) rotate(0deg);
    transform-style: preserve-3d;
  }
  .branch2{
    position: absolute;
    transform: scale(1) rotateX(180deg) rotatey(0deg) translatex(35px) translatey(35px) translatez(30px) rotate(72deg);
    transform-style: preserve-3d;
    transform-origin: left; 
  }
  .branch3{
    position: absolute;
    transform: scale(1) rotateX(180deg) rotatey(0deg) translatex(35px) translatey(35px) translatez(30px) rotate(144deg);
    transform-style: preserve-3d;
    transform-origin: left;
  }
  .branch4{position: absolute;
    transform: scale(1) rotateX(180deg) rotatey(0deg) translatex(35px) translatey(35px) translatez(30px) rotate(216deg);
    transform-style: preserve-3d;
    transform-origin: left;
  }
  .branch5{position: absolute;
    transform: scale(1) rotateX(180deg) rotatey(0deg) translatex(35px) translatey(35px) translatez(30px) rotate(288deg);
    transform-style: preserve-3d;
    transform-origin: left;
  }




/***GENERAL-ANIMATION***/



@keyframes phone-hover {
	0% {
    transform: rotatey(0deg) rotatex(0deg) translateZ(-150px);

	}
	25%{
    transform: rotatey(10deg) rotatex(15deg) translateZ(-150px);
  }
  50%{
    transform: rotatey(-10deg) rotatex(-15deg) translateZ(-150px);
  }
  75%{
    transform: rotatey(-10deg) rotateX(10deg) translateZ(-150px);
  }
	100% {
		transform: rotatey(0deg) rotatex(0deg) translateZ(-150px);
	}
}

@keyframes palmTreesAnimation{
  0%{transform: translateY(0px)}
  100%{transform: translateY(2000px)}
}

@keyframes barLoading{
  0%{transform:translatex(-240px)}
  100%{transform:translatex(0px)}
}

#tv{
  position: absolute;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  width: 375px;
  height: 667px;
}

